.bg{
    &-black{
        background-color: $color__black !important;
    }
}
.border{
    &-teal{
        border-color: $color__teal!important;
    }
}
.branches,.courses{
    &-s1{
        background-color: #999 !important;
        background-blend-mode: multiply;
    }
}
.index{
    &-s1{
        background-color: #999 !important;
        background-blend-mode: multiply;
        background-position: center!important;
    }
}
.text{
    &-teal{
        color: $color__teal!important;
    }
}
h1,h2,h3,h4,h5,h6,.nav-link{
    font-family: "Audiowide";
    letter-spacing: 1px;
}
header{
    z-index: 10;
}
textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .index{
        &-s1{
            background-position: right!important;
        }
    }
    .navbar{
        &-nav{
            background-color: #333;
            border: 1px solid #555;
            opacity: 0.8;
            padding-right: 10px;
        }
    }
}